.profile__edit-button {
    border: medium none;
    background-image: url(../../../images/profile__button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.875vw;
    height: 1.875vw;
    padding: 0.546875vw;
    border: 1px solid #FFFFFF;
    margin-top: 2.73vw;
    margin-left: 1.41vw;
    cursor: pointer;
    background-size: 0.78125vw;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .profile__edit-button {
        margin-top: 10.94vw;
        margin-left: 3.13vw;
        width: 5.625vw;
        height: 5.625vw;
        padding: 1.640625vw 1.640625vw 1.640625vw 1.640625vw;
        background-size: 2.34375vw;
    }
}