.popup__author {
    width: 27.96875vw;
    height: 2.109375vw;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.09vw;
    line-height: 1.33vw;
    border: none;
    padding-top: 3.046875vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
    .popup__author {
        width: 74.375vw;
        height: 14vw;
        font-size: 4.4vw;
        padding-top: 23.4375vw;
    }
}