.popup__container {
    position: relative;
    max-width: 33.59375vw;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 0.78vw;
}

@media screen and (max-width: 500px) {
    .popup__container {
        max-width: 88.125vw;
        border-radius: 10px;
    }
}
