.form__input-error {
    font-weight: 400;
    font-size: 0.9375vw;
    line-height: 1.171875vw;
    color: #FF0000;
    min-height: 2.34375vw;
    display: block;
  }

  @media screen and (max-width: 500px) {
    .form__input-error {
      font-size: 3.75vw;
      line-height: 4.6875vw;
      min-height: 9.375vw;
    }
}