.profile__position {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.41vw;
    line-height: 1.72vw;
    color: #FFFFFF;
    padding-top: 1.25vw;
    margin: 0;

}

@media screen and (max-width: 500px) {
    .profile__position {
        font-size: 4.38vw;
        padding-top: 4.38vw;
        text-align: center;
    }
}