.profile__position {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.41vw;
    line-height: 1.72vw;
    color: #FFFFFF;
    padding-top: 1.25vw;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .profile__position {
        width: 59.0625vw;
        font-size: 4.38vw;
        padding-top: 4.38vw;
        text-align: center;
        line-height: 5.3125vw;
    }
}