.popup__close {
    max-width: 2.50vw;
    min-height: 2.50vw;
    position: absolute;
    top: -2.73vw;
    right: -2.73vw;
    color: #FFFFFF;
    background-size: cover;
    cursor: pointer;
    border: medium none;
    background-image: none;
    background: transparent;
    float: left;
    background-color: transparent;
}

@media screen and (max-width: 500px) {
    .popup__close {
        top: -9vw;
        right: 2vw;
    }
}

.popup__close:hover {
    opacity: 0.6;
}