.popup__close-button {
    max-width: 2.50vw;
    min-height: 2.50vw;
}

@media screen and (max-width: 500px) {
    .popup__close-button {
        max-width: 6.25vw;
        min-height: 6.25vw;
    }
}