.profile__avatar {
    max-width: 9.38vw;
    border-radius: 50%;
    margin-right: 2.34vw;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .profile__avatar {
        max-width: 37.50vw;
        margin: 0 auto;
    }
}